.dlle{
  cursor: pointer;
}
main,
.contents {
  padding: 100px 0px 30px 0px;
  width: 400px;
  margin: 0 auto;
}
.contents{
  padding: 30px 10px;
  width: 400px;
  margin: 0 auto;
}
.contents h2{
  text-align: center;
}

body p{
  margin-bottom: 0 ;
}
a{
  font-weight:500 ;
  color: #333333;
  text-decoration: none;
  font-weight: 600;
}
.white_link{
  font-size: 14px;
  font-weight: 600;
  color: white;
}
.far,
.fal{
  font-weight: 900;
}

.fc_gray{
  color: #c5bcbc;
}
.fs_12{
  font-size: 12px;
  font-weight: 600;
}
.b-margin{
  margin-bottom: 20px;
}
/*---------------------
        INDEX
---------------------*/
.custom_card{
  width: 400px;
  margin: 20px auto;

}
.textarea{
  width: 100%;
  margin: 10px 20px;
  min-height: 100px;
  border: 1px solid #333333;
  padding: 5px 7px;
  box-sizing: border-box;
}
.form .textarea{
  margin: 0;
}
.card-wrap{
  width: 400px;
  padding: 0 10px;
}
.custom_card_title{
  text-align: center;
}

form{
  width: 90%;
}
.parent{
  position: relative;
}
.delete{
  font-weight: 600;
  font-size: 25px;
   color: #7e7e7e;
   cursor: pointer;
   position: absolute;
   top: 0;
   right: 4px;
}
.edit{
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  position: absolute;
  top: 1;
  right: 5px;
}
.edit a{
  color: #11a4e9
}
/*comment */
.box_item{
  box-shadow: 0 0 8px #7e7e7e;
  margin: 10px 20px;
  padding: 5px;

}
.box_item ul li{
  list-style: none;
  font-size: 16px;
}
.comments{
  padding: 20px 10px;
  border-bottom: 1px dotted #7e7e7e;
}

.comment_edit{
  position: absolute;
  right: 0;
  top:3px;
  font-size: 16px;
  font-weight: 600;
  color: #7e7e7e;
  cursor: pointer;
}
.comment_name{
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  top: 1px;
  left: 0;
}

.like{
  cursor: pointer;
  color: #333333;
}
.unlike{
  color: #eb2630;
  cursor: pointer;
}

.post_name{
  font-weight: 600;
  margin: 0;
  padding: 0;
}

/* フォロー　*/
.follow{
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  position: absolute;
  top: 2;
  right: 5px;
  border: 1px solid #11a4e9;
  border-radius: 15px;
  padding: 2px 10px;
  margin: 3px;
}
.active-follow{
  background: #11a4e9;
  color: white;
}
/*-----------------------
       LOGIN
-----------------------*/
.select-form{
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  margin: 0 10px;
}

.select-form__active{
  border-bottom: 2px solid #1cb7ff;
}

.center{
  text-align: center;
}

.tab__item{
  cursor: pointer;
}
.form{
  width: 100%;
  margin: 20px 0;
  position: relative;
}
input[type="text"],
input[type="password"] {
  padding: 7px 10px;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #333333;
  margin: 5px 0;
  border-radius: 3px;
}
.btn{
  color: white;
  font-weight: 600;
  padding: 5px 50px;
  margin: 3px 0;
  border-radius: 15px;
  cursor: pointer;
}
.btn_position{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.left-btn_position{
  position: absolute;
  left: 15%;
}
.right-btn_position2{
  position: absolute;
  right: 15%;
}
.bg_btn1{
  background: #1cb7ff;
}
.bg_btn2{
  background: #ff5132;
}
.bg_btn3{
  background: #eb2630;
}

/*---------------------
 Trend
---------------------*/
.flex_center{
  display: flex;
  justify-content: center;
  
}


.trend_select{
  cursor: pointer;
  color: #333333;
  font-weight: 600;
  margin-right: 10px;
}

.trend_select__active{
  border-bottom: 3px solid #11a4e9;
}

.trend_box{
  box-shadow: 0 0 8px #7e7e7e;
  padding: 10px;
  margin: 20px;
}

.trend_user-title{
  font-weight: 600;
  font-size: 16px;
}

.trend_user-follow{
  font-weight: 600;
}


/*------------------------
 Pagination
------------------------*/
.pagination{
  display: flex;
  justify-content: center;
  list-style: none;
}
.pagination li{
  padding: 9px 15px;
  margin: 1px;
  border: 1px solid #7e7e7e;
  border-radius: 30px;
  font-weight: 600;
  cursor: pointer;
}
ul .current_page{
  background: #1cb7ff;
  color: white;

}

/*-----------------------------
Profile
---------------------------*/
.profile{
  box-shadow: 0 0 8px #7e7e7e;
  padding: 10px;
  margin: 20px;
  font-weight: 600;
}